<br>
<div class="container-fluid">
	<div class="row pullTop">
		<form class="form-horizontal">
	        <div class="col-xs-12 col-sm-12 col-md-12 form-group">
	            <label class="control-label col-xs-3 col-sm-3 col-md-3"><i class="analyseTitle">{{ 'analyse_view.Scan_title' | translate}} </i></label>
	            <div class="col-xs-6 col-sm-6 col-md-6">
	               <div class="btn-group btn-block" uib-dropdown>
				      <button id="split-button" type="button" class="btn analyseChoice" ng-model="type">{{type | translate}}</button>
				      <button style="-webkit-app-region: no-drag;" type="button" class="btn analyseChoice" uib-dropdown-toggle>
				        <span class="fa fa-angle-down fa-lg"></span>
				      </button>
				      <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
				        <li style="-webkit-app-region: no-drag;" role="menuitem" ng-model="type"><a href="" ng-click="fullScan()"><i class="fa fa-hdd-o"></i>&nbsp;&nbsp;{{ 'analyse_view.Full_scan' | translate}}</a></li>
				        <li style="-webkit-app-region: no-drag;" role="menuitem" ng-model="type"><a href="" ng-click="quickScan()"><i class="fa fa-bolt"></i>&nbsp;&nbsp;{{ 'analyse_view.Quick_scan' | translate}} </a></li>
				        <li class="divider" ></li>
				        <li style="-webkit-app-region: no-drag;" role="menuitem" ng-model="type"><a href="" ng-click="customScan()"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'analyse_view.Custom_scan' | translate}}</a></li>
				      </ul>
				    </div>
	            </div>
	            <div class="col-xs-3 col-sm-3 col-md-3">
	            	<button style="-webkit-app-region: no-drag;" type="button" class="btn stopButton" ng-click="CancelScan()" ng-if="scan_data.progress && scan_data.progress < 100" >{{ 'analyse_view.Stop' | translate}}</button>
	            	<button style="-webkit-app-region: no-drag;" type="button" class="btn startButton" ng-click="StartScan()" ng-if="!scan_data.progress || scan_data.progress === 100 " >{{ 'analyse_view.Start' | translate}}</button>
	            </div>
	        </div>
	    </form>
	</div>
	<div class="row pullTop">
		<div class="col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-10 col-md-10 text-center ">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h1><b class="fileAnalyse" ng-bind="scanned_count" ></b></h1>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h1><b class="fileMalicious" ng-bind="malware_count" ></b></h1>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h1><b class="fileSuspect" ng-bind="suspicious_count"></b></h1>
			</div>
		</div>
	</div>
	<div class="row pullTop">
		<div class="col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-10 col-md-10 text-center ">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h5 class="numberOfAnalyseFile">{{ 'analyse_view.Scanned' | translate}}</h5>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h5 class="numberOfMaliciousFile">{{ 'analyse_view.Malicious' | translate}}</h5>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<h5 class="numberOfSuspectFile">{{ 'analyse_view.Suspects' | translate}}</h5>
			</div>
		</div>
	</div>
	<div class="row pullTop" >
	  	<div class="col-sm-offset-1 col-md-offset-1 col-xs-10 col-sm-10 col-md-10" >
		    <h6 ng-if="scan_data.displayed_file" > &nbsp;&nbsp;&nbsp;&nbsp;{{ 'analyse_view.Scanning_file' | translate}} : <b>{{truncate(scan_data.displayed_file,50)}}</b></h6>
		    <uib-progressbar max="max" class="progressBar" value="scan_data.progress"><span class="progressBarPercent"><span ng-if="scan_data.progress > 0 || scan_data.progress === 0">{{scan_data.progress}}%</span></span>
	    	</uib-progressbar>   
	  	</div>
	</div>
	<!--<div class="row" ng-if="!scan_data.progress">	
		<br>
		<br>
		<div class=" col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4">
			{{ 'analyse_view.No_file_scanned_yet' | translate}}
		</div>
	</div>-->
	<div class="row pullBottom">
		<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-xs-11 col-sm-11 col-md-11">
			<table class="table analyse" >
				<thead class="analyse">
				  <tr class="analyse">
				     <th class="analyse" style="width:10%"></th>
				     <th class="analyse" style="width:30%"><h4><i>Menaces</i></h4></th>
				     <th class="analyse" style="width:60%"><h4><i>Fichiers</i></h4></th>
				  </tr>
				 </thead>
			    <tbody class="analyse" id="ex3" style="-webkit-app-region: no-drag;"> <!-- scroll-bottom="scan_data.files" -->
			      <tr class="analyse" ng-repeat="file in scan_data.files">
			      	<td style="width:10%" ng-if="file.scan_status === 'malware'" class="analyse redCircle"><h7><i class="fa fa-circle fa-lg"></i></h7></td>
			      	<td style="width:10%" ng-if="file.scan_status === 'suspicious'"class="analyse orangeCircle"><h7><i class="fa fa-circle fa-lg"></i></h7></td>
			        <td style="width:30%" title="{{file.mod_report}}" class="analyse" ><h7>{{file.mod_report | characters: 17}}</h7></td>
			        <td style="width:60%" title="{{file.path}}" class="analyse"><h7>{{file.path | characters: 40}}</h7></td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>
