*.zip
*~
BUILD/
INSTALL
Makefile
Makefile.in
aclocal.m4
armadito-config-autoconf.h.in
autom4te.cache/*
build/linux/out/*
build/windows/VS12/include
build/windows/VS12/lib
build/windows/deps
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
test-driver
missing
