VS/glib/*
VS/UhuruAV/libuhuru_core/Debug/*
VS/UhuruAV/libuhuru_ipc/Debug/*
VS/UhuruAV/uhuru_scan/Debug/*
VS/UhuruAV/module_5_2/Debug/*
VS/UhuruAV/UhuruAV/Debug/
VS/UhuruAV/UhuruScanCommandLine/Debug/
VS/UhuruAV/libuhuru/Debug/
VS/UhuruAV/clamav/Debug/*
VS/UhuruAV/Debug/*
VS/UhuruAV/UhuruAV.opensdf
VS/UhuruAV/UhuruAV.sdf
VS/UhuruAV/UhuruAV.v12.suo
