<div class="">
	<div class="modal-header modal-header-analyse ">
	    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <span class="modal-title"><i><h3 class="analyseTitle">Confirmation de suppression</h3></span>
	    <hr>
	</div>
	<div class="modal-body modal-body-analyse">
	    <h4 class="text-danger">Etes vous sûr de vouloir supprimer <b>{{quarantineLength}}</b> objets de la quarantaines ?</h4>
	</div>
	<div class="modal-footer footerModal">
	    <button type="button" class="btn startButtonModal" ng-click="ok()">OK</button>
	</div>
</div>