<div class="">
	<div class="modal-header modal-header-analyse ">
		<button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <span class="modal-title"><i><h3 class="analyseTitle">Analyse personnalisée</h3></span>
	    <hr>
	</div>
	<div class="modal-body modal-body-analyse">
		<div class="input-group">
		  <input type="text" class="form-control form-control-modal" ng-model="optionScan.pathToScan" placeholder="Selectionnez un fichier ou un dossier">
		  <span class="input-group-addon .input-group-addon-customAnalyse btn btn-default btn-file" ng-click="chooseFile()">
		  	<i class="fa fa-angle-down fa-lg"></i> <input id="pathToScan" nwdirectory type="file">
		  </span>
		</div>
		<h4 class="chooseOptionAnalyse">Choisissez vos options :</h4>
		<form role="form" class="formOptionScan">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="col-sm-6 col-md-6">
						<div class="radio">
					      <label class="optionScan"><input type="checkbox" name="optradio" ng-model="optionScan.heuristicMode" >&nbsp;&nbsp;Mode Heuristique</label>
					    </div>
					    <div class="radio">
					      <label class="optionScan"><input type="checkbox" name="optradio" ng-model="optionScan.scanArchive">&nbsp;&nbsp;Scan archive</label>
					    </div>
					</div>
					<div class="col-sm-6 col-md-6">
						<span class="input-group-addon .input-group-addon-customAnalyse btn btn-default btn-file" ng-click="chooseFileToExclude()">
					  		Add file to exlude <input id="fileToExclude" nwdirectory type="file">
					  	</span>
					    <tags-input ng-model="excludedFolders" display-property="pathToScan">
					      <auto-complete source="loadTags($query)"></auto-complete>
					    </tags-input>
					</div>	
				</div>
			</div>		    
		</form>
	</div>
	<div class="modal-footer footerModal">
	    <button type="button" class="btn startButtonModal" ng-click="ok();">START</button>
	</div>
</div>