<div class="row">	
	<div class="col-xs-12 col-sm-12 col-md-12">
	<button ng-click="refresh_status()">Refresh Av Status</button>
	  	<ul class="list-group">
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><i ng-class="state.realtime ? 'fa fa-check-circle fa-2x' : 'text-danger fa fa-times-circle fa-2x'"></i></span>
		    <h6><b ng-class="state.service ? 'text-success' : 'text-danger'">Analyse en temps réel</b></h6>
		  </li>
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><i ng-class="state.service ? 'fa fa-check-circle fa-2x' : 'text-danger fa fa-times-circle fa-2x'" ></i></span>
		    <h6><b ng-class="state.service ? 'text-success' : 'text-danger'" >Service d'analyse</b></h6>
		  </li>		  
		  <li class="list-group-item list-height">
			<span class="text-success pull-right"><i ng-class="state.info.update == 'critical' ? 'fa fa-check-circle fa-2x' : 'text-warning fa fa-exclamation-circle fa-2x'" ></i></span>		    
		    <h6><b class="bg-success">Mise à jour</b></h6>
		  </li>
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><abbr title="10/12/2015"><h6><b>{{state.last_update}}</b></h6></abbr></span>
		    <h6><b class="bg-success">Dernière mise à jour</b></h6>
		  </li>
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><abbr title="Version alpha 0.1"><h6><b>{{state.version}}</b></h6></abbr></span>
		    <h6><b class="bg-success">Version</b></h6>
		  </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="panel panel-primary panel-module">
		  <div class="panel-heading"> Modules <i class="fa fa-cubes pull-right"></i></div>
		  <div class="panel-body">
		    <ul class="list-group panel-overflow">
				<li class="list-group-item list-height" ng-repeat="module in state.modules">
					<span ng-class="module.update.status != 'critical' ? 'text-success pull-right' : 'text-danger pull-right'"><abbr title={{module.update['last-update']}}><h6><b>{{module.update.status}}</b></h6></abbr></span>
					<h6><i ng-class="module.update.status != 'critical' ? 'text-success' : 'text-danger'">{{module.name}}</i></h6>
				</li>			  
			</ul>
		  </div>
		</div>
	</div>
			  <!--<li class="list-group-item list-height">
			    <span class="text-warning pull-right"><abbr title="update this module"><i class="fa fa-exclamation-circle fa-2x"></i></abbr></span>
			    <h6><i class="bg-warning">Module PDF</h6></i>
				
			  </li>
			  -->

</div>
