<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
	  	<ul class="list-group">
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><i class="fa fa-check-circle fa-2x"></i></span>
		    <h6><b class="bg-success">Annalyse en temps réel</b></h6>
		  </li>
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><i class="fa fa-check-circle fa-2x"></i></span>
		    <h6><b class="bg-success">Service d'analyse</b></h6>
		  </li>
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><i class="fa fa-check-circle fa-2x"></i></span>
		    <h6><b class="bg-success">Mise à jour</b></h6>
		  </li>
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><abbr title="10/12/2015"><h6><b>Il y a 3 jours</b></h6></abbr></span>
		    <h6><b class="bg-success">Dernière mise à jour</b></h6>
		  </li>
		  <li class="list-group-item list-height">
		    <span class="text-success pull-right"><abbr title="Version alpha 0.1"><h6><b>0.1</b></h6></abbr></span>
		    <h6><b class="bg-success">Version</b></h6>
		  </li>
		</ul>
	</div>
</div>
<div class="row">  	
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="panel panel-primary panel-module">
		  <div class="panel-heading"> Modules <i class="fa fa-cubes pull-right"></i></div>
		  <div class="panel-body">
		    <ul class="list-group panel-overflow">
			  <li class="list-group-item list-height">
			    <span class="text-success pull-right"><abbr title="10/12/2015"><h6><b>Il y a 3 jours</b></h6></abbr></span>
			    <h6><i class="bg-success">Clamav</i></h6>
			  </li>
			  <li class="list-group-item list-height">
			    <span class="text-success pull-right"><abbr title="10/12/2015"><h6><b>Il y a 3 jours</b></h6></abbr></span>
			   <h6><i class="bg-success">Module 5_2</i></h6>
			  </li>
			  <li class="list-group-item list-height">
			    <span class="text-warning pull-right"><abbr title="update this module"><i class="fa fa-exclamation-circle fa-2x"></i></abbr></span>
			    <h6><i class="bg-warning">Module PDF</h6></i>
			  </li>
			</ul>
		  </div>
		</div>
	</div>
</div>
