<div class="container-fluid">
	<div class="row">
		<br>
		<div class="col-md-10 col-md-offset-1 journal">
			<uib-tabset>
				<uib-tab >
					<uib-tab-heading style="-webkit-app-region: no-drag;" >
				    	{{'history_view.history_tab.History' | translate}}
				  	</uib-tab-heading>
				  	<br/>
				  	<div class="row">
				  		<div class="col-md-12">
					  		<div class="input-group">
							  <input style="-webkit-app-region: no-drag;"  type="text" class="form-control formSearch" translate translate-attr-placeholder="history_view.history_tab.Search" aria-describedby="basic-addon2">
							  <span style="-webkit-app-region: no-drag;"  class="input-group-addon input-group-addon-searchJournal" id="basic-addon2"><i class="fa fa-search"></i></span>
							</div>
						</div>
				  	</div>
				  	<div class="row">
						<div class="col-md-12">
							<table class="table journal">
							    <thead class="journal">
							      <tr class="journal">
							        <th class="journal" style="width:25%"><h4><i class="journalTitle">{{'history_view.history_tab.Date' | translate}}</i></h4></th>
							        <th class="journal" style="width:25%"><h4><i class="journalTitle">{{'history_view.history_tab.Type' | translate}}</i></h4></th>
							        <th class="journal" style="width:25%"><h4><i class="journalTitle">{{'history_view.history_tab.Status' | translate}}</i></h4></th>
							        <th class="journal" style="width:25%"><h4><i class="journalTitle">{{'history_view.history_tab.User' | translate}}</i></h4></th>
							      </tr>
							    </thead>
							    <tbody class="journal" id="ex3" style="-webkit-app-region: no-drag;" >
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>04/01/2016</h7></td>
							        <td style="width:25%"class="journal"><h7>Update</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Anais</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>04/12/2015</h7></td>
							        <td style="width:25%"class="journal"><h7>Update</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>François</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>03/12/2015</h7></td>
							        <td style="width:25%"class="journal"><h7>Quarantaine</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Mohammed</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>04/01/2016</h7></td>
							        <td style="width:25%"class="journal"><h7>Stop svc</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Nelson</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>01/06/2015</h7></td>
							        <td style="width:25%"class="journal"><h7>Stop svc</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Sandra</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>08/02/2016</h7></td>
							        <td style="width:25%"class="journal"><h7>Update</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Ulrich</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>04/15/2015</h7></td>
							        <td style="width:25%"class="journal"><h7>Quarantaine</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Valentin</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>07/19/2015</h7></td>
							        <td style="width:25%"class="journal"><h7>Stop svc</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Fabien</h7></td>
							      </tr>
							       <tr class="journal">
							        <td style="width:25%"class="journal"><h7>04/01/2016</h7></td>
							        <td style="width:25%"class="journal"><h7>Stop svc</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Nelson</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>04/03/2016</h7></td>
							        <td style="width:25%"class="journal"><h7>Update</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Anais</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>01/06/2015</h7></td>
							        <td style="width:25%"class="journal"><h7>Stop svc</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Sandra</h7></td>
							      </tr>
							      <tr class="journal">
							        <td style="width:25%"class="journal"><h7>08/02/2016</h7></td>
							        <td style="width:25%"class="journal"><h7>Update</h7></td>
							        <td style="width:25%"class="journal"><h7>Success</h7></td>
							        <td style="width:25%"class="journal"><h7>Ulrich</h7></td>
							      </tr>
							    </tbody>
							</table>
							<span class="pull-right">
								<button style="-webkit-app-region: no-drag;"  type="button" class="btn clearButton" ng-click="ok()">{{'history_view.history_tab.Clear' | translate}}</button>&nbsp;&nbsp;
								<button style="-webkit-app-region: no-drag;"  type="button" class="btn refreshButton" ng-click="ok()">{{'history_view.history_tab.Refresh' | translate}}</button>
							</span>
						</div>
					</div>
				</uib-tab>
				<uib-tab>
					<uib-tab-heading style="-webkit-app-region: no-drag;" >
				    	{{'history_view.Scan_on_demand_tab.Scan_on_demand' | translate}}
				  	</uib-tab-heading>
				  	<br/>
				  	<div class="row">
					  <div class="col-sm-12 col-md-12" style="-webkit-app-region: no-drag;" >
							<uib-accordion close-others="true" >
							    <uib-accordion-group is-open="status.openDay" >
							      <uib-accordion-heading>
							       	<i>{{'history_view.Scan_on_demand_tab.Today' | translate}}</i><i class="pull-right glyphicon" ng-class="{'fa fa-angle-down fa-2x': status.openDay, 'fa fa-angle-up fa-2x': !status.openDay}"></i>
							       </uib-accordion-heading>
							       <div id="ex3" class="OverflowAccordion-analyseOnDemand">
								       <div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 1</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 2</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 3</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 4</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 5</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 6</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 7</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 8</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 9</button> 
											  </div>
								       	  </div>									 
										</div>
									</div>
							    </uib-accordion-group>
							    <uib-accordion-group is-open="status.openWeek" >
							      <uib-accordion-heading>
							       	<i>{{'history_view.Scan_on_demand_tab.This_week' | translate}}</i><i class="pull-right glyphicon" ng-class="{'fa fa-angle-down fa-2x': status.openWeek, 'fa fa-angle-up fa-2x': !status.openWeek}"></i>
							       </uib-accordion-heading>
							        <div id="ex3" class="OverflowAccordion-analyseOnDemand">
								       <div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 1</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 2</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 3</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 4</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 5</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 6</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 7</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 8</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 9</button> 
											  </div>
								       	  </div>									 
										</div>
									</div>
							    </uib-accordion-group>
							    <uib-accordion-group is-open="status.openMonth" >
							       <uib-accordion-heading>
							       	<i>{{'history_view.Scan_on_demand_tab.This_month' | translate}}</i><i class="pull-right glyphicon" ng-class="{'fa fa-angle-down fa-2x': status.openMonth, 'fa fa-angle-up fa-2x': !status.openMonth}"></i>
							       </uib-accordion-heading>
							        <div id="ex3" class="OverflowAccordion-analyseOnDemand">
								       <div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 1</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 2</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 3</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 4</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 5</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 6</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 7</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 8</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 9</button> 
											  </div>
								       	  </div>									 
										</div>
									</div>
							    </uib-accordion-group>
							    <uib-accordion-group is-open="status.openYear" >
							       	<uib-accordion-heading>
							       		<i>{{'history_view.Scan_on_demand_tab.This_year' | translate}}</i><i class="pull-right glyphicon" ng-class="{'fa fa-angle-down fa-2x': status.openYear, 'fa fa-angle-up fa-2x': !status.openYear}"></i>
							       	</uib-accordion-heading>
							       	<div id="ex3" class="OverflowAccordion-analyseOnDemand">
								       <div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 1</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 2</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 3</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 4</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 5</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 6</button> 
											  </div>
								       	  </div>									 
										</div>
										<br>
										<div class="row">
								       	  <div class="col-sm-12 col-md-12">
								       	  	  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 7</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 8</button>
											  </div>
											  <div class="col-sm-4 col-md-4">
											  	<button type="button" ng-click="openDetailRapport('sm')" class="btn btn-default scanReport">SCAN REPORT 9</button> 
											  </div>
								       	  </div>									 
										</div>
									</div>
							    </uib-accordion-group>
							</uib-accordion>
					  </div>
					</div>
				</uib-tab>
				<uib-tab >
					<uib-tab-heading style="-webkit-app-region: no-drag;">
				    	{{'history_view.Threat_detected_tab.Threat_detected' | translate}}
				  	</uib-tab-heading>
				  	<br/>
				  	<div class="row">
				  		<div class="col-md-12">
					  		<div class="input-group">
							  <input style="-webkit-app-region: no-drag;" type="text" class="form-control formSearch" translate translate-attr-placeholder="history_view.Threat_detected_tab.Search" aria-describedby="basic-addon2">
							  <span style="-webkit-app-region: no-drag;" class="input-group-addon input-group-addon-searchJournal" id="basic-addon2"><i class="fa fa-search"></i></span>
							</div>
						</div>
				  	</div>
				  	<div class="row">
						<div class="col-md-12">
							<table class="table journal-threats-detected">
							    <thead class="journal-threats-detected">
							      <tr class="journal-threats-detected">
							        <th clas="journal-threats-detected" style="width:30%"><h4><i class="journal-threats-detectedTitle">{{'history_view.Threat_detected_tab.Name' | translate}}</i></h4></th>
							        <th clas="journal-threats-detected" style="width:35%"><h4><i class="journal-threats-detectedTitle">{{'history_view.Threat_detected_tab.Path' | translate}}</i></h4></th>
							        <th class="journal-threats-detected" style="width:30%"><h4><i class="journal-threats-detectedTitle">{{'history_view.Threat_detected_tab.Date' | translate}}</i></h4></th>
							      </tr>
							    </thead>
							    <tbody class="journal-threats-detected" id="ex3" style="-webkit-app-region: no-drag;" >
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>malware</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 2</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 3</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 4</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 5</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 6</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 7</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 8</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>Malware 9</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							      <tr class="journal-threats-detected">
							        <td style="width:30%" class="journal-threats-detected"><h7>malware0</h7></td>
							        <td style="width:35%"class="journal-threats-detected"><h7>C:/Users/Bla/bla/bla</h7></td>
							        <td style="width:30%"class="journal-threats-detected"><h7>04/15/2016</h7></td>
							      </tr>
							    </tbody>
							</table>
						</div>
					</div>
				</uib-tab>			
				<uib-tab >
					<uib-tab-heading ng-click="query_quarantine()" style="-webkit-app-region: no-drag;" >
				    	{{'history_view.Quarantine_tab.Quarantine' | translate}} 
				  	</uib-tab-heading>
					<br/>
					<div class="row">
						<div class="col-md-12">
				  		<div class="input-group">
						  <input style="-webkit-app-region: no-drag;" type="text" class="form-control formSearch" translate translate-attr-placeholder="history_view.Quarantine_tab.Search" aria-describedby="basic-addon2">
						  <span style="-webkit-app-region: no-drag;" class="input-group-addon input-group-addon-searchJournal" id="basic-addon2"><i class="fa fa-search"></i></span>
						</div>
					</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<table class="table quarantine">
							    <thead class="quarantine">
							      <tr class="quarantine">
							        <th class="quarantine" style="width:30%"><h4><i class="quarantineTitle">{{'history_view.Quarantine_tab.Name' | translate}} </i></h4></th>
							        <th class="quarantine" style="width:30%"><h4><i class="quarantineTitle">{{'history_view.Quarantine_tab.Path' | translate}} </i></h4></th>
							        <th class="quarantine" style="width:30%"><h4><i class="quarantineTitle">{{'history_view.Quarantine_tab.Date' | translate}} </i></h4></th>
							        <th class="quarantine" style="width:5%"><h4><i class="quarantineTitle"></i></h4></th>
							        <th class="quarantine" style="width:5%"><h4><i class="quarantineTitle"></i></h4></th>
							      </tr>
							    </thead>
							    <tbody class="quarantine" id="ex3" style="-webkit-app-region: no-drag;" >
							      <tr class="quarantine" ng-repeat="obj in quarantine.files">
							        <td style="width:30%"class="quarantine"><h7>{{obj.fname}}</h7></td>
							        <td style="width:30%"class="quarantine"><h7>{{obj.path}}</h7></td>
							        <td style="width:30%"class="quarantine"><h7>{{obj.date}}</h7></td>
							        <td title="{{'history_view.Quarantine_tab.Restore' | translate}}" style="width:5%"class="quarantine"><h7 ng-click="restore_quarantine_file(obj.fname)" class="fa fa-refresh" ></h7></td>
							        <td title="{{'history_view.Quarantine_tab.Remove' | translate}}"style="width:5%"class="quarantine"><h7 ng-click="delete_quarantine_file(obj.fname)" class="text-danger fa fa-times" ></h7></td>
							      </tr>
							    </tbody>
							</table>
							<span class="pull-right">
								<button style="-webkit-app-region: no-drag;" type="button" class="btn clearButton" ng-click="clearQuarantine()" ng-if="quarantine.files.length">{{'history_view.Quarantine_tab.Clear' | translate}} </button>
							</span>
						</div>
					</div>	
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
</div>
