<div class="panel panel-primary panel-journal">
  <div class="panel-body">
  	<div class="row">
	  <div class="col-md-10 col-md-offset-1">
	  	<uib-tabset justified="true">
			<uib-tab>
				<uib-tab-heading>
			    	<i class="fa fa-search-plus text-primary"></i> Analyse à la demande
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-primary panel-default-journal-content">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">
						<div class="OverflowAccordion-analyseOnDemand">
							<uib-accordion close-others="oneAtATime">
							    <uib-accordion-group is-open="true" >
							      <uib-accordion-heading>
							       	Lundi 15 Décembre 2015
							       </uib-accordion-heading>
							       <div class="row">
									  <div class="col-md-4">
									  	<div class="list-group">
										  <a href="" class="list-group-item" ng-click="open()">
										    <h4 class="list-group-item-heading pull-right"><i class="fa fa-file-text-o fa-lg"></i></h4>
										    <p class="list-group-item-text"> C:/Desktop/User/folder/..</p><br>
										    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										  </a>
										</div>
									  </div>
									  <div class="col-md-4">
									  	<div class="list-group">
										  <a href="" class="list-group-item" ng-click="open()">
										    <h4 class="list-group-item-heading pull-right"><i class="fa fa-file-text-o fa-lg"></i></h4>
										    <p class="list-group-item-text"> C:/Desktop/User/folder/..</p><br>
										    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										  </a>
										</div>
									  </div>
									  <div class="col-md-4">
									  	<div class="list-group">
										  <a href="" class="list-group-item" ng-click="open()">
										    <h4 class="list-group-item-heading pull-right"><i class="fa fa-file-text-o fa-lg"></i></h4>
										    <p class="list-group-item-text"> C:/Desktop/User/folder/..</p><br>
										    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										  </a>
										</div>
									  </div>
									</div>
							    </uib-accordion-group>
							    <uib-accordion-group is-open="false" >
							      <uib-accordion-heading>
							       	Mardi 18 Novembre 2015
							       </uib-accordion-heading>
							      <div class="row">
									  <div class="col-md-4">
									  	<div class="list-group">
										  <a href="" class="list-group-item" ng-click="open()">
										    <h4 class="list-group-item-heading pull-right"><i class="fa fa-file-text-o fa-lg"></i></h4>
										    <p class="list-group-item-text"> C:/Desktop/User/folder/..</p><br>
										    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										  </a>
										</div>
									  </div>
									  <div class="col-md-4">
									  	<div class="list-group">
										  <a href="" class="list-group-item" ng-click="open()">
										    <h4 class="list-group-item-heading pull-right"><i class="fa fa-file-text-o fa-lg"></i></h4>
										    <p class="list-group-item-text"> C:/Desktop/User/folder/..</p><br>
										    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										  </a>
										</div>
									  </div>
									</div>
							    </uib-accordion-group>
							    <uib-accordion-group is-open="false" >
							       <uib-accordion-heading>
							       	Mercredi 03 Septembre 2015
							       </uib-accordion-heading>
							      <div class="row">
									  <div class="col-md-4">
									  	<div class="list-group">
										  <a href="" class="list-group-item" ng-click="open()">
										    <h4 class="list-group-item-heading pull-right"><i class="fa fa-file-text-o fa-lg"></i></h4>
										    <p class="list-group-item-text"> C:/Desktop/User/folder/..</p><br>
										    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
										  </a>
										</div>
									  </div>
									</div>
							    </uib-accordion-group>
							</uib-accordion>
						</div>				  
					      
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
			<uib-tab >
				<uib-tab-heading>
			    	<i class="fa fa-bug text-danger"></i> Menaces détectées
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-danger panel-default-journal-content">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
			<uib-tab >
				<uib-tab-heading ng-click="query_quarantine()">
			    	<i class="fa fa-exclamation-triangle text-warning"></i> Quarantaine <i style="visibility: hidden;">Quarantaine</i>
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-warning ">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">

					    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
							<thead>
							<tr>
								<th st-sort="Nom">Nom</th>
								<th st-sort="Emplacement">Emplacement</th>
								<th st-sort="Module">Module</th>
								<th st-sort="Date">Date</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="file in quarantine.files">
								<td>{{file.desc}}</td>
								<td>{{file.path}}</td>
								<td>{{file.module}}</td>
								<td>{{file.date}}</td>
								<td>
									<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger" title="Delete">
										<i class="glyphicon glyphicon-remove-circle">
										</i>
									</button>
								</td>
								<td>
									<button type="button" ng-click="restore_qurantine_file(file.fname)" class="btn btn-sm btn-success" title="Restore">
										<i class="fa fa-reply">
										</i>
									</button>
								</td>
							</tr>
							</tbody>
						</table>
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
			<uib-tab >
				<uib-tab-heading>
			    	<i class="fa fa-list-alt text-success"></i> Journal d'évènements
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-success">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
		</uib-tabset>
	  </div>
	</div>
  </div>
</div>