<div class="container-fluid">
  <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="">
            <img alt="Tatoo" src="images/armadito.png" class="img-responsive">
          </a>
          <a class="navbar-brand align-text-information" href="">
            <h4 class="text-success"><b>Votre système est protégé !</b></h4>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href=""><h7 >A propos</h7></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-question-circle fa-lg"></i></a>
                </li>
            </ul>
        </div>
  </nav>
  <div class="row">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
  	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ahuru-tab-menu">
  	      <div class="list-group" ng-repeat="item in buttons">
  	        <a ui-sref="{{item.button.view}}" ng-click="activeButton(item.button)" class="list-group-item text-center" ng-class="{'active': item.button.isActive }">
  	          <h4 ng-class="item.button.icon"></h4>
  	          <h6>{{item.button.tittle}}</h6>
  	        </a>
  	      </div>
  	    </div>

  	    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ahuru-tab">
  	    	<div ui-view></div>
  	    </div>	

  	</div>
  </div>
</div>  