<div class="container-fluid">
  <div class="row">
    <span class="topcorner">
      <div class="btn-group topcorner" role="group" aria-label="...">
         <button type="button" class="btn btn-default reduceButton" title="{{'main_view.Minimize' | translate }}"ng-click="reduceApp()"><span class="reduceLetter">—</span></button>
        <button type="button" class="btn btn-default closeButton" title="{{ 'main_view.Close' | translate }}" ng-click="closeApp()"><span class="closeLetter">x</span></button>
      </div>
    </span>
  </div>
  <nav class="navbar navbar-default information">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <a class="navbar-brand" href="#"><img alt="Tatoo" src="images/armadito.png" class="img-responsive"></a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
	  <li><img alt="Tatoo" src="images/navbarOk_.png" class="img-responsive"></li>
          <li><h4 class="status">{{'main_view.Your_computer_is_protected' | translate}}</h4></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<!-- ui-sref="Main.Parameters" -->
        <li ><a ui-sref="" href=""><i class="fa fa-cog fa-lg" ng-class="{'buttonParameters' : buttonParameters}"></i>&nbsp;<span ng-class="{'buttonParameters' : buttonParameters}">{{'main_view.Parameters' | translate}}</span></a></li>
        <li><a href=""><i class="fa fa-bar-chart fa-lg"></i>&nbsp;{{'main_view.Statistics' | translate}}</a></li>
        <li>
          <a href="">
            <span class="fa-stack" title="{{ 'main_view.About' | translate }}">
              <i class="fa fa-circle fa-stack-2x circleInterrogation"></i>
              <i class="fa fa-question fa-stack-1x interrogation"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
  	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ahuru-tab-menu">
  	      <div class="list-group" ng-repeat="item in buttons">
  	        <a  ui-sref="{{item.button.view}}" style="height: 145px;"
                ng-click="activeButton(item.button)" 
                class="list-group-item backgroundColumn text-center {{item.button.backgroundColor}}" 
                ng-class="{'active': item.button.isActive,  'list-group-item-firstChild' : $first, 'list-group-item-lastChild' : $last}">
              <br>
  	          <h4 ng-class="item.button.icon"></h4>
              <br>
  	          <b class="titleGroupItem">{{item.button.tittle | translate }}</b>
  	        </a>
  	      </div>
  	    </div>
  	    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ahuru-tab">
  	    	<div ui-view></div>
  	    </div>	
  	</div>
  </div>
</div>   
