<div class="panel panel-default">
  <div class="panel-body">
  	<div class="row">
	  <div class="col-md-10 col-md-offset-1">
	  	<uib-tabset justified="true">
			<uib-tab>
				<uib-tab-heading>
			    	<i class="fa fa-tachometer"></i> Général
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-default">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">
					     <uib-accordion-group is-open="status.open">
					      <uib-accordion-heading>
					        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					      </uib-accordion-heading>
					      This is just some content to illustrate fancy headings.
					    </uib-accordion-group>
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
			<uib-tab >
				<uib-tab-heading>
			    	<i class="fa fa-history"></i> Temps réel 
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-default">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
			<uib-tab >
				<uib-tab-heading>
			    	<i class="fa fa-cubes"></i> Modules
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-default">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
			<uib-tab >
				<uib-tab-heading>
			    	<i class="fa fa-refresh"></i> Updates
			  	</uib-tab-heading>
			  	<br/>
			  	<div class="row">
				  <div class="col-md-10 col-md-offset-1">
				  	<div class="panel panel-default">
					  <div class="panel-heading text-center">Content</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
				  </div>
				</div>
			</uib-tab>
		</uib-tabset>
	  </div>
	</div>
  </div>
</div>