<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4">
  	<div class="panel panel-primary panel-option-scan">
	  <div class="panel-heading">Scan</div>
	  <div class="panel-body">
	    <form class="form-horizontal">
		  <fieldset>
		    <div class="form-group">
		      <div class="col-lg-10">
		        <div class="radio">
		          <label>
		            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
		            Rapide
		          </label>
		        </div>
		        <div class="radio">
		          <label>
		            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		            Complet
		          </label>
		        </div>
		        <div class="radio">
		          <label>
		            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
		            Personnalisé
		          </label>
		        </div>
		      </div>
		    </div>
		    <div class="panel panel-success panel-advanced-option-scan">
			  <div class="panel-heading">Avancées</div>
			  <div class="panel-body">
			    <div class="form-group">
			      <div class="col-lg-10">
			        <div class="checkbox">
			          <label>
			            <input type="checkbox"> Mode heuristique
			          </label>
			        </div>
			      </div>
			      <div class="col-lg-10">
			        <div class="checkbox">
			          <label>
			            <input type="checkbox"> Scan archives
			          </label>
			        </div>
			      </div>
			      <div class="col-lg-10">
			        <div class="checkbox">
			          <label>
			            <input type="checkbox"> Exclude folders/files
			          </label>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="submit" ng-click="startMe()" class="btn btn-primary">Start</button>
		        <button ng-show="pdata.scan_progress > 0" type="submit" ng-click="stopMe()" class="btn btn-danger">Stop</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	  </div>
    </div>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8">
  	<div class="panel panel-primary panel-scanProgression">
	  <div class="panel-body">
	    <div class="row">
    	  	<div class="col-xs-12 col-sm-12 col-md-12">
	    	  	<!-- Progress bar-->
	    	  	<label class="control-label">Scan progression</label>
			    <uib-progressbar max="max" value="pdata.scan_progress"><span style="color:black; white-space:nowrap;">{{pdata.scan_progress}}%</span>
		    	</uib-progressbar>   
    	  	</div>
	    </div>
	    <div >
	    	<table class="table borderless">
			  <tbody ng-repeat="obj in tableScan">
			  	<tr>
			      <td><i class="fa fa-clipboard"></i> {{obj.title}}</td>
			      <td>{{obj.data}}</td>
			    </tr>
			  </tbody>
			</table> 
			<div class="panel panel-danger" ng-show="displayedCollection.length > 0">
			  <div class="panel-heading">
			  	<b> Menaces trouvées : {{displayedCollection.length}}</b>
			  </div>
			  <div class="panel-body">
			  	<div class="OverflowTableThreats">
			  		<table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
						<thead>
						<tr>
							<th st-sort="Etat">Etat</th>
							<th st-sort="Detail">Detail</th>
							<th st-sort="Chemin">Chemin</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="row in displayedCollection">
							<td>{{row.Etat}}</td>
							<td>{{row.Detail}}</td>
							<td>{{row.Chemin}}</td>
						</tr>
						</tbody>
					</table>
			  	</div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
  </div>
</div>


